* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, black, grey);
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-item {
    padding: 30px;
}

.social-btn {
    background: transparent;
    border: none;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: 0.4s;
}

.social-btn:hover {
    transform: scale(1.15);
}

.social-btn .fab {
    font-size: 4.5em;
    color: #fff;
    text-shadow: -2px -1px 2px black;
}

.social-btn.whatsapp {
    background: #00e676;
    box-shadow: 0 0 20px 5px #b9bbba;
}

.social-btn.pinterest {
    background: #BD081C;
    box-shadow: 0 0 20px 5px #ffa8b2;
}

.social-btn.snapchat {
    background: #f9f62b;
    box-shadow: 0 0 20px 5px #f9f62b;
}

.social-btn.twitter {
    background: #08a0e9;
    box-shadow: 0 0 20px 5px #08a0e9;
}
